@using FitnessTrackMono.Shared.Models;
@using FitnessTrackMono.Client.Services.RoutineService;
@inject IRoutineService RoutineService;

<EditForm Model="r" OnSubmit="HandleSubmit">
    <div>
        <label for="name"> Name </label>
        <InputText id="unit" @bind-Value="r.Name" class="form-control"></InputText>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">@btnText</button>
</EditForm>


@code {
    [Parameter]
    public int? Id { get; set; }

    private string btnText = string.Empty;
    private Routine r = new Routine();

    protected override async Task OnInitializedAsync()
    {
        btnText = Id == null ? "Create" : "Confirm";
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Id == null)
        {
            // Do nothing
        }
        else
        {
            r = await RoutineService.GetSingleRoutine((int)Id);
        }

    }
    async Task HandleSubmit()
    {
        if (Id == null)
        {
            Console.WriteLine(r);
            await RoutineService.CreateRoutine(r);
        }
        else
        {
            await RoutineService.UpdateRoutine(r);
        }
    }

    async Task DeleteHero()
    {
        await RoutineService.DeleteRoutine(r.Id);
    }
}
