@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
<AuthorizeView>
    <Authorized>
        <a href="authentication/profile">Hello, @context.User.Identity?.Name!</a>
        @*<button class="nav-link btn btn-link" @onclick="BeginLogOut">Log out</button>*@
        @*<RadzenButton Click="BeginLogOut" Icon="logout" ButtonStyle="Radzen.ButtonStyle.Danger" Text="Log out" Size="" /> *@
        <RadzenButton Variant="Radzen.Variant.Text" Click="BeginLogOut" Icon="logout" ButtonStyle="Radzen.ButtonStyle.Danger" Text="Log out" Size="Radzen.ButtonSize.Small" />
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register">Register</a>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
